@model ProductListViewModel

<div class="container">
    <h1>@Model.CurrentCategory.Name</h1>
    
    <div class="row mt-5 mb-2">
        @{
            foreach (var product in Model.ProductsByCategory)
            {
                    <div class="col-lg-4">
                        <img class="img-thumbnail" src="@product.ImageUrl" alt="@product.Name">
                        <h2>@product.Name</h2>
                        <p>Price : @product.Price.ToString("c", new CultureInfo("en-US"))</p>
                        <p><a class="btn btn-info" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@product.Id">Add to cart</a></p>
                    </div>
            }           
        }
    </div>
    <div class="row m-2">
        <div page-model="@Model.PageInfo" page-action="ProductList" page-classes-enabled="true"
            page-class="btn" page-class-normal="btn-secondary" style="width:12px;"
            page-class-selected="btn-primary" style="width:12px;" class="btn-group pull-right offset-lg-5 col-lg-1"
            page-url-category="@Model.CurrentCategory.Name">
        </div>
    </div>
</div>